.containerDashboard{
    display: flex;
    flex-direction: row;
    font-family: cursive;
    background-color: #c5f5f2;
    margin: 0 0 0 12rem;
    color: #015c57;
}

.containerDashboard.dark{
    background-color: #043a37;
}

.containerDashboard.dark h1{
    color: #c5f5f2;
}

.darkMode{
    margin-left: 90%;
    margin-top: 20px;
}

.containerMain_dash{
    border-collapse: collapse;
    position: static;
    margin: 1.25rem 15rem;
}

.side_nav_bar{
position: fixed;
}

.cardsDash{
    display: flex;
    flex-direction: row;
}

.card-dash{
    border-radius: 10px;
    background-color: #e3fcfa;
    border: 2px solid #015c57;
    padding: 10px;
    margin: 20px 0 0 50px;
    font-size: 12px;
}

.card-dash.dark{
    background-color: #027a74;
    border: #86afac 2px solid;
    color: #c5f5f2;
}

.img_cant{
    display: flex;
    flex-direction: row;
}

.headerDash{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-decoration: underline;
}

.graficosDash{
    display: flex;
    flex-direction: column;
}

.ultimos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    /* border: #015c57 2px solid ; */
    border-left: #015c57 2px solid;
    border-right: #015c57 2px solid;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    margin: 50px 0 0 50px;
    background-color: #e3fcfa;
}

.ultimos.dark{
    background-color: #027a74;
    color: #c5f5f2;
}

.ultimos h4{
    /* text-decoration: underline; */
    background-color: #c5f5f2;
    border-radius: 20px;
    padding: 15px;
text-align: center;}

.ultimos.dark h4{
    background-color: #027a74;
    border: #92bbb8 1px solid;
}

.listaUs{
    border-bottom: 1px solid #015c57;
}

.grafUser{
    display: flex;
    flex-direction: row;
}

