.filtersSelectMascota {
  padding: 5px;
  color: #027a74;
  font-family: cursive;
  font-weight:bolder;
  border-radius: 10px;
}

.filtersSelectMascota.dark{
  background-color: #027a74;
  color: #c5f5f2;
}

.filterMascota {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  margin-top: 20px;
  margin-left: 200px;
  padding: 0.5rem;
}

 
