/* .page{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color:  #027a74 ;
    background-size: cover;
} */

.containerDetalle.dark{
background-color: #043a37;
height: 100vh;
}
.caja-detalle{
    display: flex;
    align-items:center;
    justify-content:center;
}

.informacionDetalleMascotas{
    display: flex;
    align-items:center;
    justify-content:center;
    
    margin-top: 2vh;


    border: solid 1px rgb(171, 212, 180);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    /* padding: 100px; */
    box-shadow: 0 0 30px #222;

    width: 70%;
    height: auto;

    background-color:  #c5f5f2 ;
    background-size: cover;
    border-radius: 20px;
    font-family: cursive;
    color: #027a74;
    font-size: 18px;
    margin-left: 250px;
}

.informacionDetalleMascotas.dark{
    background-color: #027a74;
    color: #c5f5f2;
}

.descripDetalleMascota {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    padding: 1rem 8rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}
.informacionDetalleMascotas ul{
    padding: 20px;
    font-size: 20px;
}


.nombreimg{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
padding: 25px;
}

.nombreimg img{
    border-radius: 15px;
}

#nombre {
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(253, 215, 112);
    border-radius: 50px;
    width: 70%;
  
}

.titulo-mascota{
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(253, 215, 112);
    border-radius: 50px;
    width: 50%;
}


.cajita-detalleMascota{
    background-color: #027a74;
    height: 805px ;
}

.adopta-boton{
margin-bottom: -20px;
    font-size: 17px;
  
}

.descripcion-mascota{
    margin-bottom: 80px;
}

.boton-detelleMascota{
    margin-left: 100px;
    margin-top: 50px;
}

