/* .page{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color:  #027a74 ;
    background-size: cover;
} */

.containerDetalle.dark{
background-color: #043a37;
height: 100vh;
}

.informacionDetalleMascotas{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 20vh;
    
    border: solid 1px rgb(171, 212, 180);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0 0 30px #222;
    width: auto;
    height: auto;
    background-color:  #c5f5f2 ;
    background-size: cover;
    border-radius: 20px;
    font-family: cursive;
    color: #027a74;
    font-size: 18px;
}

.informacionDetalleMascotas.dark{
    background-color: #027a74;
    color: #c5f5f2;
}

.descripDetalleMascota {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 40px;
}
.informacionDetalleMascotas ul{
    padding: 20px;
}

.nombreimg img{
    border-radius: 15px;
}

#nombre {
    align-items:center;
    justify-content:center;
}
