.main-footer{
   display: flex;
   flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #c5f5f2;
    flex-wrap: wrap;
    width: 5 rem;
    min-height: 2px;
    font-family: cursive;
    
}
.wsp_item {
  display: flex;
  flex-direction: row;
}

.wsp_item p {
  padding: 0%;
}

.redes {
  display: flex;
  flex-direction: column;
}

.contactanos-items{
    display: flex;
  flex-direction: row;
  padding: 5px;
    
}


