.cardMascotas {
    display:flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    background-color: #c5f5f2;
    margin: 10px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    font-family: cursive;
    font-weight: bold;
    color: #027a74; 
}

.cardMascotas.dark{
    background-color: #027a74;
    color: #c5f5f2;
}
 
.cardMascotas:hover{
    border: 2px solid #027a74;
}

.cardMascotas p {
    font-size: 15px;
    padding: 0%;
}

.imageCard {
    width: 165px;
    height: 165px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 15px;
}