.card {
    display:flex;
    flex-direction: row;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    justify-content: space-between;
    background-color: #c5f5f2;
    margin: 10px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    font-family: cursive;
    font-weight: bold;
    color: rgb(253, 215, 112); 
}

.card:hover{
    border: 2px solid #027a74;
}

.p{
    font-size: 20px;
}

