.container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83.1vh;
    background-color:  #027a74 ;
    background-size: cover;

}

.datosDetalleRefugio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.datosDetalleRefugio h3{

    background-color: rgb(243, 238, 245);
    padding: 20px;
    border-radius: 20px; 
    color:#027a74;
    box-shadow: 8px 8px 8px #999;
    font-family: cursive;
    display: flex;
   justify-content: center;
   text-align: center;


}

/* 
.titleDetalleRefugio h3 {
    background-color: white;
    border-radius: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
   
} */

.home_button_detalle{
    margin: 30px;
    padding: 10px;
    font-size: 17px;
}

.datosDetalleRefugio img{
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 8px 8px 8px #999;
}


.botonesDeContacto{
display: flex;
flex-direction: row;
}