.containerRef{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.containerRef.dark{
    background-color: #043a37;
}

.datosDetalleRefugio{
    display: flex;
    justify-content:center;
    width: 50%;
    background-color:  #c5f5f2 ;
    background-size: cover;
    border-radius: 20px;
    font-family: cursive;
    margin-top: 10px ;
}

.datosDetalleRefugio.dark{
    background-color: #027a74;
}

.datosDetalleRefugio h3{
    background-color: rgb(243, 238, 245);
    padding: 20px;
    border-radius: 20px; 
    color:#027a74;
    margin-left: 50px;
    margin-right: 50px;
}

.datosDetalleRefugio.dark h3{
    background-color: #027a74;
    color: #c5f5f2;
}

.datosDetalleRefugio h1{
    background-color: rgb(253, 215, 112);
    padding: 15px 20px;
    border-radius: 0 60px 60px 0;
    font-style: oblique;
    color:#027a74;
    
}
.titleDetalleRefugio {
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

.home_button_detalle{
    margin: 30px;
padding: 10px;
}