.containerMascotas {
    display: flex;
    flex-wrap:wrap;
    gap: 2.5em;
    right: 20%;
    padding: 1.25rem;
    justify-content: center;
}

.containerMascotas.dark{
    background-color: #043a37;
}