.containerMascotas {
    background-color: #027a74;
    display: flex;
    flex-wrap:wrap;
    width: 1920px;
    height: 823px;
    gap: 2.5em;
    right: 20%;
    padding: 1.25rem;
    justify-content: center;

}

