.carrito-container{
  font-family: cursive;
  height: 100vh;
}

.carrito-container.dark{
    background-color: #043a37;
    color: #c5f5f2;
}

.myCart{
    display: flex;
    justify-content: center;
    color: rgb(42, 149, 165);
   font-size: 1.5rem;
   padding: 1rem;
}

.myCart.dark{
    color: #c5f5f2;
}

.prodCart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(42, 149, 165);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5px;
}

.prodCart button {
    height: fit-content;
}

.img-carrito{
   max-width: 80px;
   border-radius: 10px;
}


.nombre-carrito{
   color: rgb(22, 19, 26);
   font-size: 1.2rem;
}

.items-carrito{
    font-size: 1.2rem;
    padding: 1rem;
}


.boton_Mas_Menos{
    width: 80%;
}

.botonBorra{
    margin-left: 25rem;
}

.precioTotal{
    color: rgb(22, 19, 26);
}

.botFinales {
display: flex;
flex-direction: row;
}

.buttonComprar {
    margin-top: 4.5%;
}

.prodYresum{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.resumen {
    border: 1px solid rgb(42, 149, 165);
    border-radius: 10px;
}

.resumen.dark{
    border: #c5f5f2 1px solid;
}

.resumenCompra{
    font-size: 1.5rem;
    padding: 1rem;
    text-decoration: underline;
    color: rgb(42, 149, 165);
}

.resumenCompra.dark{
    color: #c5f5f2;
}