@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {  /* fijarse esto, cambia los margenes de toda la pagina*/
  margin: 0;

}


input {
  border: none;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background-color: rgb(253, 215, 112);
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 0 0 25px 25px;
  font-family: cursive;
  font-weight: bold;
  color: #027a74;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  border-top: none;
  font-size: 1.2rem;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: #027a74;
  border:1px solid #c5f5f2;
  border-radius: 0 0 25px 25px;
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: #bef3ef;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #027a74;
  box-shadow: 1px 2px 2px 1px rgba(20,20,20,0.4); 
  border-radius: 10px;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line.dark{
  background-color: #47d4cb;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: #c5f5f2;
  color: #027a74;
  font-family: cursive;
  border-radius: 25px 25px 0 0 ;
  padding: 10px;
}

.input-fields.dark{
  background-color: #027a74;
  color: #c5f5f2;
}

.container_formUs {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 805px;
  width: 100%; 
  flex-direction: column;
  align-items: center;
}

.container_formUs.dark{
  background-color: #043a37;
}



.welcome {
  font-weight: 200;
display: flex;
justify-content: space-around;
  font-size: 40px;
  letter-spacing: 0.05rem;
  font-family: cursive;
  color: #027a74;
  margin: 20px;
    align-items: center;
    font-family: cursive;
    font-weight: bold;
}

.welcome.dark{
  color: #c5f5f2;
}


.window {
  z-index: 100;
  background-color: #B993D6;
  color: #fff;
  font-family: roboto;
  position: relative;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
}



.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity:0.1;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
  background-size:cover;
}


@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}


.botoncitoGoogle{
margin-left: 80px;
width: 100%;
}
