.loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.95;
    background-color: #fff;
    z-index: 999;
  }
  
  .imageLoading {
    /* width: 600px;
    height: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }