.contenedor {
    background-color: #027a74;
    width: 1920px;
    height: 823px;
}

.foto-contenedor {
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

    
    .foto-contenedor img{
        border-radius: 10px;
        box-shadow: 4px 4px 8px #999;
        margin: 35px;
    }


.parrafo-contenedor {
    padding: 1rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: cursive;
    margin: 20px;
    
}

.parrafo-contenedor{
   
    font-size: 1.25rem;
    color: #c5f5f2;
    line-height: 2rem;
    text-align:justify;
}