
*{text-decoration: none;}

.container_homeProd{
    background-color: #027a74;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}



.paginatedDiv{
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 100%;
    padding: 1rem;
}

.searchbar{
    /* border: solid black 1px; */
    height: 2%;
    width: 100%;
}

.containerCards{
    display: flex;
    flex-wrap:wrap;
    width: 1920px;
    height: 823px;
    gap: 2.5em;
    right: 20%;
    padding: 1.25rem;
    /* border: solid black 1px; */
}



.filters {
    padding: 0.5rem;
    display: flex;
    justify-content: center;;
    flex-direction: row;
    gap: 5rem;
    background-color: #027a74;
  }

  .filters select {
    background-color: #c5f5f2;
    border-radius: 10px;
    padding: 5px;
    color: #027a74;
    font-family: cursive;
    font-weight:bolder;
    width: 100%;
  }

  .filters select:hover {
    background-color: #027a74;
    border: #c5f5f2 1px solid;
    color:#c5f5f2
  }
  
  .underline{
    border-bottom: 1px solid white;
    text-align: center;
  }
  
  .options{
    width: 70%;
  }
  
  .aligns{
  margin-top:0em;
  }