.filterProducto {
    padding: 0.5rem;
    display: flex;
    justify-content: center;;
    flex-direction: row;
    gap: 5rem;
    margin-top: 20px;
  }

  .filtersSelectProducto  {
    background-color: #c5f5f2;
    border-radius: 10px;
    padding: 5px;
    color: #027a74;
    font-family: cursive;
    font-weight:bolder;
   

  }